///////////////
// VARIABLES //
///////////////
@import 'common/variables.scss';


////////////
// GLOBAL //
////////////
@import 'common/global.scss';


/////////////
// HELPERS //
/////////////
@import 'common/helpers.scss';


////////////////
// COMPONENTS //
////////////////
@import 'components/*.scss';


////////////////
// ANIMATIONS //
////////////////
@import 'common/animations.scss';


/////////////
// CONTENT //
/////////////
.container { width: 88%; }

@media only screen and (min-width: 62em) {
    .container { width: 64%; }
}


////////////
// HEADER //
////////////
.header {
    background-color: $color-blue;
}