nav.menu-mobile
    a.item(href='#') Home
    a.item(href='#') Feature
    a.item(href='#') Reviews
    a.item(href='#') Download
    .social-icons.item
        +socialItem('#', 'fa-facebook')
        +socialItem('#', 'fa-instagram')
        +socialItem('#', 'fa-twitter')