nav.menu-mobile
    a.item(href='#home') Home
    a.item(href='#features') Feature
    a.item(href='#reviews') Reviews
    a.item(href='#download') Download
    .social-icons.item
        +socialItem('#', 'fa-facebook')
        +socialItem('#', 'fa-instagram')
        +socialItem('#', 'fa-twitter')