mixin menuItem(href, text)
    li.item
        a.link(href= href)= text

mixin socialItem(href, iconClass)
    a.link(href= href)
        i.icon.fa(class= iconClass)

mixin smartphoneImage(src, variant)
    .smartphone-mockup(class= variant)
        .receiver
        img.screen(src= src)
        .button