doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv="X-UA-Compatible", content='IE=EmulateIE8')
        meta(name='theme-color', content='#648cff')
            
        title Fun Weather
        
        link(rel='icon', type='image/png', sizes='16x16', href='images/favicon-16x16.png')
        link(rel='icon', type='image/png', sizes='32x32', href='images/favicon-32x32.png')
        
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,700')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-grid.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='css/main.min.css')
        
    body#home
                            
        block content
        
        script(src='js/main.min.js')
