doctype html
html(lang='pt-br')
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='theme-color', content='#648cff')
            
        title Fun Weather
        
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700,900')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-grid.min.css')
        link(rel='stylesheet', href='css/main.css')
        
    body
                            
        block content
            
        script(src='js/main.js')
