<!doctype html>
<html class="no-js" lang="">

<head>
    <partial src="_head-content.html"></partial>
</head>

<body>

    <partial src="_header.html"></partial>

    <section class="hero">
        <div class="hero__wrapper">
            <!-- item -->
            <div class="hero__item">
                <h2 class="title">Meet <span class="font-bold">Brandi!</span></h2>
                <h3 class="subtitle"><span class="flashy">/creative</span> one page template.</h3>
                <p class="info">We are a team of professionals</p>

                <ul class="hero__social-media">
                    <li class="item"><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-dribbble"></i></a></li>
                </ul>
            </div>

            <!-- item -->
            <div class="hero__item">
                <h2 class="title">Meet <span class="font-bold">Brandi!</span></h2>
                <h3 class="subtitle"><span class="flashy">/creative</span> one page template.</h3>
                <p class="info">We are a team of professionals</p>

                <ul class="hero__social-media">
                    <li class="item"><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-dribbble"></i></a></li>
                </ul>
            </div>

            <!-- item -->
            <div class="hero__item">
                <h2 class="title">Meet <span class="font-bold">Brandi!</span></h2>
                <h3 class="subtitle"><span class="flashy">/creative</span> one page template.</h3>
                <p class="info">We are a team of professionals</p>

                <ul class="hero__social-media">
                    <li class="item"><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
    </section>

    <partial src="_scripts.html"></partial>
</body>

</html>
