<!doctype html>
<html class="no-js" lang="">

<head>
    <partial src="_head-content.html"></partial>
</head>

<body>

    <partial src="_header.html"></partial>

    <div class="modal"></div>

    <section class="hero">
        <div class="hero__wrapper">
            <!-- item -->
            <div class="hero__item">
                <h2 class="title">Meet <span class="font-bold">Brandi!</span></h2>
                <h3 class="sub"><span class="flashy">/creative</span> one page template.</h3>
                <p class="info">We are a team of professionals</p>

                <ul class="hero__social-media">
                    <li class="item"><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-dribbble"></i></a></li>
                </ul>
            </div>

            <!-- item -->
            <div class="hero__item">
                <h2 class="title">Meet <span class="font-bold">Brandi!</span></h2>
                <h3 class="sub"><span class="flashy">/creative</span> one page template.</h3>
                <p class="info">We are a team of professionals</p>

                <ul class="hero__social-media">
                    <li class="item"><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-dribbble"></i></a></li>
                </ul>
            </div>

            <!-- item -->
            <div class="hero__item">
                <h2 class="title">Meet <span class="font-bold">Brandi!</span></h2>
                <h3 class="sub"><span class="flashy">/creative</span> one page template.</h3>
                <p class="info">We are a team of professionals</p>

                <ul class="hero__social-media">
                    <li class="item"><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="features tns-inline">
        <!-- title object -->
        <h2 class="o-title">Features</h2>
        <span class="o-title-decoration"><i class="far fa-heart"></i></span>

        <div class="container">
            <div class="features__carousel">
                <!-- item -->
                <div class="features__item">
                    <span class="features__icon">
                        <i class="fas fa-feather-alt"></i>
                    </span>
                    <span class="features__content">
                        <h3 class="features__title">Branding</h3>
                        <p class="features__info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </span>
                </div>

                <!-- item -->
                <div class="features__item">
                    <span class="features__icon">
                        <i class="fas fa-pen"></i>
                    </span>
                    <span class="features__content">
                        <h3 class="features__title">Development</h3>
                        <p class="features__info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </span>
                </div>

                <!-- item -->
                <div class="features__item">
                    <span class="features__icon">
                        <i class="fas fa-microphone"></i>
                    </span>
                    <span class="features__content">
                        <h3 class="features__title">Consulting</h3>
                        <p class="features__info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </span>
                </div>

                <!-- item -->
                <div class="features__item">
                    <span class="features__icon">
                        <i class="fas fa-globe"></i>
                    </span>
                    <span class="features__content">
                        <h3 class="features__title">Works</h3>
                        <p class="features__info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </span>
                </div>

                <!-- item -->
                <div class="features__item">
                    <span class="features__icon">
                        <i class="fas fa-camera"></i>
                    </span>
                    <span class="features__content">
                        <h3 class="features__title">Photography</h3>
                        <p class="features__info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </span>
                </div>

                <!-- item -->
                <div class="features__item">
                    <span class="features__icon">
                        <i class="fas fa-fill-drip"></i>
                    </span>
                    <span class="features__content">
                        <h3 class="features__title">Web Design</h3>
                        <p class="features__info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="works">
        <!-- title object -->
        <h2 class="o-title">Works</h2>
        <span class="o-title-decoration"><i class="far fa-heart"></i></span>

        <!-- subtitle object -->
        <h3 class="o-subtitle">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</h3>

        <p style="text-align: center;">FAZER AQUI COM VUE JS</p>
    </section>

    <section class="team tns-inline">
        <!-- title object -->
        <h2 class="o-title">Meet our team</h2>
        <span class="o-title-decoration"><i class="far fa-heart"></i></span>

        <!-- subtitle object -->
        <h3 class="o-subtitle">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</h3>

        <div class="container">
            <div class="team__carousel">
                <!-- item -->
                <div class="team__item">
                    <div class="box">
                        <img class="image" src="images/team-john.png" alt="John Filmr Doe">
                        <div class="hover">
                            <h5>Nemo enim ipsam voluptatem quia voluptas</h5>
                            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>

                            <ul class="social-media">
                                <li><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="name">John Filmr Doe</h4>
                    <p class="office">Managing Director</p>
                </div>

                <!-- item -->
                <div class="team__item">
                    <div class="box">
                        <img class="image" src="images/team-chystine.png" alt="Chystine Hineu">
                        <div class="hover">
                            <h5>Nemo enim ipsam voluptatem quia voluptas</h5>
                            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>

                            <ul class="social-media">
                                <li><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="name">Chystine Hineu</h4>
                    <p class="office">Lead Designer</p>
                </div>

                <!-- item -->
                <div class="team__item">
                    <div class="box">
                        <img class="image" src="images/team-martin.png" alt="Martin Matrone">
                        <div class="hover">
                            <h5>Nemo enim ipsam voluptatem quia voluptas</h5>
                            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>

                            <ul class="social-media">
                                <li><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="name">Martin Matrone</h4>
                    <p class="office">Lead Developer</p>
                </div>

                <!-- item -->
                <div class="team__item">
                    <div class="box">
                        <img class="image" src="images/team-steve.png" alt="Steve Flaulkin">
                        <div class="hover">
                            <h5>Nemo enim ipsam voluptatem quia voluptas</h5>
                            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>

                            <ul class="social-media">
                                <li><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="name">Steve Flaulkin</h4>
                    <p class="office">Sr. UI Designer</p>
                </div>

                <!-- item -->
                <div class="team__item">
                    <div class="box">
                        <img class="image" src="images/team-john.png" alt="John Filmr Doe">
                        <div class="hover">
                            <h5>Nemo enim ipsam voluptatem quia voluptas</h5>
                            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>

                            <ul class="social-media">
                                <li><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="name">John Filmr Doe</h4>
                    <p class="office">Managing Director</p>
                </div>

                <!-- item -->
                <div class="team__item">
                    <div class="box">
                        <img class="image" src="images/team-chystine.png" alt="Chystine Hineu">
                        <div class="hover">
                            <h5>Nemo enim ipsam voluptatem quia voluptas</h5>
                            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>

                            <ul class="social-media">
                                <li><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="name">Chystine Hineu</h4>
                    <p class="office">Lead Designer</p>
                </div>

                <!-- item -->
                <div class="team__item">
                    <div class="box">
                        <img class="image" src="images/team-martin.png" alt="Martin Matrone">
                        <div class="hover">
                            <h5>Nemo enim ipsam voluptatem quia voluptas</h5>
                            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>

                            <ul class="social-media">
                                <li><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="name">Martin Matrone</h4>
                    <p class="office">Lead Developer</p>
                </div>

                <!-- item -->
                <div class="team__item">
                    <div class="box">
                        <img class="image" src="images/team-steve.png" alt="Steve Flaulkin">
                        <div class="hover">
                            <h5>Nemo enim ipsam voluptatem quia voluptas</h5>
                            <p>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>

                            <ul class="social-media">
                                <li><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4 class="name">Steve Flaulkin</h4>
                    <p class="office">Sr. UI Designer</p>
                </div>
            </div>
        </div>
    </section>

    <section class="facts">
        <!-- title object -->
        <h2 class="o-title">Some fun facts</h2>
        <span class="o-title-decoration"><i class="far fa-heart"></i></span>

        <div class="facts__wrapper">
            <div class="facts__item">
                <span class="icon">
                    <i class="far fa-clock"></i>
                </span>
                <span class="number">3200</span>
                <span class="info">Hours of Work</span>
            </div>

            <div class="facts__item">
                <span class="icon">
                    <i class="fas fa-user-friends"></i>
                </span>
                <span class="number">120</span>
                <span class="info">Satisfied Clinets</span>
            </div>

            <div class="facts__item">
                <span class="icon">
                    <i class="fas fa-rocket"></i>
                </span>
                <span class="number">360</span>
                <span class="info">Projects delivered</span>
            </div>

            <div class="facts__item">
                <span class="icon">
                    <i class="fas fa-trophy"></i>
                </span>
                <span class="number">42</span>
                <span class="info">Awards Won</span>
            </div>
        </div>
    </section>

    <section class="discuss">
        <!-- title object -->
        <h2 class="o-title">Let’s Discuss</h2>
        <span class="o-title-decoration"><i class="far fa-heart"></i></span>

        <!-- subtitle object -->
        <h3 class="o-subtitle">Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</h3>

        <div class="discuss__grid">
            <div class="discuss__address">
                <h4>Cras at ultrices erat, sed vulputate!</h4>
                <p>
                    2345 Setwant natrer, 1234, <br>
                    Washington. United States. <br>
                    (401) 1234 567 <br>
                    hello@brandi.com <br>
                    www.brandi.com <br>
                </p>
            </div>
            <form class="discuss__message" onsubmit="alert('Message sent :)'); return false">
                <h4 class="title">Say hello!</h4>
                <input class="input inline" type="text" placeholder="Name" required>
                <input class="input inline float" type="email" placeholder="Email" required>
                <input class="input block" type="text" placeholder="Message" required>

                <button class="submit" type="submit">
                    <i class="far fa-envelope"></i>
                    Send message
                </button>
            </form>
        </div>

        <div class="discuss__map">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="210" id="gmap_canvas" src="https://maps.google.com/maps?q=2876%20%20University%20Street&t=&z=19&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{position:relative;text-align:right;height:210px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:210px;width:100%;}</style></div>
        </div>
    </section>

    <partial src="_scripts.html"></partial>
</body>

</html>
