<!doctype html>
<html class="no-js" lang="">

<head>
    <partial src="_head-content.html"></partial>
</head>

<body>

    <partial src="_header.html"></partial>

    <div class="modal"></div>

    <section class="hero">
        <div class="hero__wrapper">
            <!-- item -->
            <div class="hero__item">
                <h2 class="title">Meet <span class="font-bold">Brandi!</span></h2>
                <h3 class="subtitle"><span class="flashy">/creative</span> one page template.</h3>
                <p class="info">We are a team of professionals</p>

                <ul class="hero__social-media">
                    <li class="item"><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-dribbble"></i></a></li>
                </ul>
            </div>

            <!-- item -->
            <div class="hero__item">
                <h2 class="title">Meet <span class="font-bold">Brandi!</span></h2>
                <h3 class="subtitle"><span class="flashy">/creative</span> one page template.</h3>
                <p class="info">We are a team of professionals</p>

                <ul class="hero__social-media">
                    <li class="item"><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-dribbble"></i></a></li>
                </ul>
            </div>

            <!-- item -->
            <div class="hero__item">
                <h2 class="title">Meet <span class="font-bold">Brandi!</span></h2>
                <h3 class="subtitle"><span class="flashy">/creative</span> one page template.</h3>
                <p class="info">We are a team of professionals</p>

                <ul class="hero__social-media">
                    <li class="item"><a href="#" class="link"><i class="fab fa-twitter"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-google-plus-g"></i></a></li>
                    <li class="item"><a href="#" class="link"><i class="fab fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="features tns-inline">
        <!-- title object -->
        <h2 class="title">Features</h2>
        <span class="title-decoration"><i class="far fa-heart"></i></span>

        <div class="container">
            <div class="features__carousel">
                <!-- item -->
                <div class="features__item">
                    <span class="features__icon">
                        <i class="fas fa-feather-alt"></i>
                    </span>
                    <span class="features__content">
                        <h3 class="features__title">Branding</h3>
                        <p class="features__info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </span>
                </div>

                <!-- item -->
                <div class="features__item">
                    <span class="features__icon">
                        <i class="fas fa-pen"></i>
                    </span>
                    <span class="features__content">
                        <h3 class="features__title">Development</h3>
                        <p class="features__info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </span>
                </div>

                <!-- item -->
                <div class="features__item">
                    <span class="features__icon">
                        <i class="fas fa-microphone"></i>
                    </span>
                    <span class="features__content">
                        <h3 class="features__title">Consulting</h3>
                        <p class="features__info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </span>
                </div>

                <!-- item -->
                <div class="features__item">
                    <span class="features__icon">
                        <i class="fas fa-globe"></i>
                    </span>
                    <span class="features__content">
                        <h3 class="features__title">Works</h3>
                        <p class="features__info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </span>
                </div>

                <!-- item -->
                <div class="features__item">
                    <span class="features__icon">
                        <i class="fas fa-camera"></i>
                    </span>
                    <span class="features__content">
                        <h3 class="features__title">Photography</h3>
                        <p class="features__info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </span>
                </div>

                <!-- item -->
                <div class="features__item">
                    <span class="features__icon">
                        <i class="fas fa-fill-drip"></i>
                    </span>
                    <span class="features__content">
                        <h3 class="features__title">Web Design</h3>
                        <p class="features__info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section class="works">
        <!-- title object -->
        <h2 class="title">Works</h2>
        <span class="title-decoration"><i class="far fa-heart"></i></span>

        <!-- subtitle object -->
        <h3 class="subtitle">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</h3>

        <p style="text-align: center;">FAZER AQUI COM VUE JS</p>
    </section>

    <partial src="_scripts.html"></partial>
</body>

</html>
