html
include parts/head.pug
body
    section.container-fluid#slide-01
        include parts/header.pug
        section.row
            .container-fluid
                .row.center-xs.bottom-xs
                    .col-xs-12.col-lg-12.col-xl-12.title-slider
                        h1.font-s-4.font-w-l.font-c-w.mar-tb-0
                            | Meet 
                            span.font-w-b Brandi
                            | !
                        p.font-s-2.font-w-l.font-c-h.mar-tb-0
                            | /creative 
                            span.font-c-w one page template.
                        p.font-s-1.font-w-l.font-c-h.mar-tb-10
                            | - 
                            span.font-c-w We are a team of professionals 
                            | -
                .social-buttons
                    a.social(href='#')
                        i.fa.fa-twitter(aria-hidden='true')
                    a.social(href='#')
                        i.fa.fa-facebook(aria-hidden='true')
                    a.social(href='#')
                        i.fa.fa-google-plus(aria-hidden='true')
                    a.social(href='#')
                        i.fa.fa-dribbble(aria-hidden='true')
                .slide-controler
                    a.active(href='#' slide-control='slide-01')
                    a(href='#' slide-control='slide-01')
                    a(href='#' slide-control='slide-01')
