html
include parts/head.pug
body
    section.container-fluid#slide-01
        header.row
            .container.pad-lr-0
                .row.mar-lr-0
                    .col-sm-12.col-xl-6
                        a.logo-font.font-c-w.font-w-r.font-s-2.mar-tb-0(href='#') Brandi
                        span.font-c-h2.font-w-l.font-s-1.mar-lr-20 |
                        span.font-c-w.o-30.font-w-l.font-s-1 I’am your tag line
                    .col-sm-12.col-xl-6
                        nav.text-a-r
                            ul.mar-tb-0.font-w-r.font-s-1
                                li.active 
                                    a(href='#') Home
                                li
                                    a(href='#') Features
                                li
                                    a(href='#') Works
                                li
                                    a(href='#') Team
                                li
                                    a(href='#') Contact
