html
include parts/head.pug
body
    section.container-fluid#slide-01
        include parts/header.pug
        section.row
            .container-fluid
                .row.center-xs.bottom-xs
                    .col-xs-12.col-lg-12.col-xl-12.title-slider
                        h1.font-s-4.font-w-l.font-c-w.mar-tb-0
                            | Meet 
                            span.font-w-b Brandi
                            | !
                        p.font-s-2.font-w-l.font-c-h.mar-tb-0
                            | /creative 
                            span.font-c-w one page template.
                        p.font-s-1.font-w-l.font-c-h.mar-tb-10
                            | - 
                            span.font-c-w We are a team of professionals 
                            | -
                .social-buttons
                    a.social
                        i.fa.fa-twitter(aria-hidden='true')
                    a.social
                        i.fa.fa-facebook(aria-hidden='true')
                    a.social
                        i.fa.fa-google-plus(aria-hidden='true')
                    a.social
                        i.fa.fa-dribbble(aria-hidden='true')
                .slide-controler
                    a.active( slide-control='slide-01')
                    a( slide-control='slide-01')
                    a( slide-control='slide-01')
    section.container
        .row.center-xs
            .col-xs-12.center-xs
                h1.font-c-h.font-st-upper.mar-t-70 Features
                span.ornament.font-s-1.font-c-h3
                    i.fa.fa-heart-o(aria-hidden='true')
        .row
            .col-xs-12.col-xl-4.slide-item(slide-control='slide-01')
                .container-fluid.pad-lr-0
                    .row.mar-lr-0
                        .col-3.center-xs
                            i.fa.fa-picture-o(aria-hidden='true')
                        .col-9
                            h1.font-c-blue.font-w-sb.mar-tb-0 Branding
                            p.font-c-blue.font-s-1.o-70 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            .col-xs-12.col-xl-4.slide-item(slide-control='slide-01')
                .container-fluid.pad-lr-0
                    .row.mar-lr-0
                        .col-3.center-xs
                            i.fa.fa-pencil(aria-hidden='true')
                        .col-9
                            h1.font-c-blue.font-w-sb.mar-tb-0 Development
                            p.font-c-blue.font-s-1.o-70 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            .col-xs-12.col-xl-4.slide-item(slide-control='slide-01')
                .container-fluid.pad-lr-0
                    .row.mar-lr-0
                        .col-3.center-xs
                            i.fa.fa-volume-down(aria-hidden='true')
                        .col-9
                            h1.font-c-blue.font-w-sb.mar-tb-0 Consulting
                            p.font-c-blue.font-s-1.o-70 Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            
            .slide-controler-2.center-xs
                    a.active(slide-control='slide-01')
                    a(slide-control='slide-01')
                    a(slide-control='slide-01')