<footer class="main-footer">
  <div class="container py-md-5">
    <div class="row">
      <div class="col-md-3 mb-4 mb-md-0">
        <h2 class="h3">{{ company.name }}</h2>
        <p>
          eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat.
        </p>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <div class="form-group">
          <label for="" class="mb-4">Subscribe</label>
          <input type="text" class="form-control btn btn-outline-light">
        </div>
        <p>eusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="col-md-3 text-center text-md-left mb-4 mb-md-0">
        <h6 class="mb-4 font-weight-light">Explore</h6>

        <ul class="list-unstyled float-left mr-3">
          <li><a href="#">Envato</a></li>
          <li><a href="#">Themecurve</a></li>
          <li><a href="#">Kreativeshowcase</a></li>
          <li><a href="#">Freebiescurve</a></li>
        </ul>
        <ul class="list-unstyled float-left">
          <li><a href="#">Themeforest</a></li>
          <li><a href="#">Microsoft</a></li>
          <li><a href="#">Google</a></li>
          <li><a href="#">Yahoo</a></li>
        </ul>
      </div>
      <div class="col-md-3 text-center text-md-left">
        <div class="mb-5">Created with ❤ by themecurve, exclusive for kreativeshowcase</div>

        <div>© {{ currentYear }} Brandi. All Rights Reserved.</div>
      </div>
    </div>
  </div>
</footer>
