<footer class="footer">
    <div class="footer__wrapper">

        <div>
            <h2 class="footer__brand">Brandi</h2>
            <p>eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <div>
            <span class="footer__title">Subscribe </span>
            <div class="footer__subscribe">
                <input type="text">
                <i class="fas fa-chevron-right"></i>
            </div>
            <p>eusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div>
            <span class="footer__title">Explore</span>
            <ul class="footer__list">
                <li class="item"><a href="#" class="link">Envato</a></li>
                <li class="item"><a href="#" class="link">Themeforest</a></li>
                <li class="item"><a href="#" class="link">Themecurve</a></li>
                <li class="item"><a href="#" class="link">Microsoft</a></li>
                <li class="item"><a href="#" class="link">Kreativeshowcase</a></li>
                <li class="item"><a href="#" class="link">Google</a></li>
                <li class="item"><a href="#" class="link">Freebiescurve</a></li>
                <li class="item"><a href="#" class="link">Yahoo</a></li>
            </ul>
        </div>

        <div>
            <span class="footer__title empty"></span>
            <p>Design created by <strong>themecurve</strong></p>
            <p>© 2014 Brandi. All Rights Reserved.</p>
        </div>

    </div>
</footer>
