<button class="toggle-menu hamburger hamburger--slider" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>

<header class="header">
    <div class="header__wrapper">

        <a href="#" class="header__brand">Brandi</a>
        <p class="header__tagline">I’am your tag line</p>

        <nav class="header__menu">
            <ul>
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link active">Home</a>
                </li>
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Features</a>
                </li>
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Works</a>
                </li>
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Team</a>
                </li>
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Contact</a>
                </li>
            </ul>
        </nav>

    </div>
</header>
