.navbar-brand {
  img {
    max-width: 200px;
    max-height: 45px;

    @include media-breakpoint-up(md) {
      max-width: 100%;
    }
  }
}

.navbar-nav {
  @include media-breakpoint-up(md) {
    .nav-item:not(:first-child) {
      margin-left: 2.1875rem;
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-fixed;
  font-size: $small-font-size;

  .nav-link {
    &.active {
      background-color: rgba($black, .3);
    }
  }

  @include media-breakpoint-up(md) {
    .nav-link {
      &.active {
        position: relative;

        &::after {
          position: absolute;
          top: -9px;
          right: 0;
          left: 0;
          content: "";
          border-top: solid 1px  #32b0ee;
        }
      }
    }
  }
}

.bg-dark-transparent {
  // stylelint-disable-next-line declaration-no-important
  background-color: rgba($dark, .2) !important;
}

.nav-link {
  padding: .625rem 1.25rem;
}
