
// Reset arrows Swiper
.swiper-button-prev,
.swiper-button-next .swiper-container-rtl,
.swiper-button-next,
.swiper-button-prev .swiper-container-rtl {
  background-image: none;
}

.swiper-pagination-bullet {
  background-color: transparent;
  border: solid 1px $blue-dark;
}

.swiper-pagination-bullets-white {
  .swiper-pagination-bullet {
    background-color: $white;
  }
}

.swiper-pagination-bullet-active {
  background-color: $blue-dark;
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  width: auto;
  height: auto;
}
