// Colors
$primary: #0eb493 !default;
$navbar-dark-color: #fff !default;

// stylelint-disable value-keyword-case
// Typography
$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// stylelint-enable value-keyword-case

$alert-margin-bottom: 0 !default;
