extends includes/template.pug

include includes/mixins.pug

block content

    nav.menu-mobile
        a.item(href='#') Home
        a.item(href='#') Feature
        a.item(href='#') Reviews
        a.item(href='#') Download

    header.header
        nav.main-navbar.container

            .hamburger-menu
                .icon
                    .line
                .label Menu

            img.logo(src='images/logo.svg', alt='Logo Fun Weather')
            
            ul.main-menu
                +menuItem('#', 'Home')
                +menuItem('#', 'Feature')
                +menuItem('#', 'Reviews')
                +menuItem('#', 'Download')

            .social-icons
                +socialItem('#', 'fa-facebook')
                +socialItem('#', 'fa-instagram')
                +socialItem('#', 'fa-twitter')

        .hero.container
            .row.align-items-center
                .col-md-6.col-lg-5
                    h1.hero-title Get the most fun weather app
                    p.hero-text Simple, nice and user-friendly application of the weather. Only useful information
                    a.btn(href='#') Download
                    a.btn.-blue(href='#') Features
                .col-md-6.col-lg-7
                    .smartphone-wrapper.bubbles-wrapper
                        img.smartphone(src='images/phone-white.png')
                        .bubble-group
                            .weather-bubble.-orange Sunny
                            .weather-bubble.-white 9ยบ
                            .weather-bubble.-blue-dark London
                            .weather-bubble.-yellow Rio
                    //- +smartphoneImage('images/screen-cloudy.png', '-light')
        
        a.btn-chevron(href='#features')

        .header-bottom
    
    section#features.section.features
    section.section.widgets
    section.section.screenshots
    section#reviews.section.reviews
    section#download.section.download
    footer.footer