$white:	 	#fff !important;
$black: 	#000 !important;
$blue:		blue !important;
$green:		#0FEB9E !important;
$blue-dark:		#062033 !important;
$blue-ligth:	#0EB493 !important;
$gray:		#f4f7f9 !important;

$font-pacifico: 'Pacifico', cursive;
$font-open-sans: 'Open Sans', sans-serif;