{% extends "templates/base.html" %}

{% block meta %}
  <meta name="description" content="">
  <meta name="keywords" content="">

  <meta property="og:image" content="{{ asset('images/og-image.jpg') }}">
  <meta property="og:image:height" content="">
  <meta property="og:image:width" content="">
  <meta property="og:description" content="">
  <meta property="og:title" content="">
  <meta property="og:url" content="{{ publicURL }}">

  <link rel="canonical" href="{{ publicURL }}">

  <title>
    {{ product.name }} · {{ product.slogan }} · {{ company.name }}
  </title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h1>Meet Brandi!</h1>
        <p class="h2">/{{ company.slogan }}.</p>
        <p>We are a team of professionals</p>
      </div>
    </div>

    <ul class="list-inline list-social-icons">
      <li class="list-inline-item">
        <a href="#" target="_blank" rel="noopener">
          <i class="fab fa-twitter"></i>
          <span class="sr-only">Twitter</span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" target="_blank" rel="noopener">
          <i class="fab fa-facebook-f"></i>
          <span class="sr-only">Facebook</span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" target="_blank" rel="noopener">
          <i class="fab fa-google-plus-g"></i>
          <span class="sr-only">Google+</span>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" target="_blank" rel="noopener">
          <i class="fab fa-dribbble"></i>
          <span class="sr-only">Dribbble</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="container">
    <h2 class="title-fancy">Features</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="row">
            <div class="col">
              <img src="{{ asset('images/icons/leaf.png') }}" alt="">
            </div>
            <div class="col">
              <h3>Branding</h3>

              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row">
            <div class="col">
              <img src="{{ asset('images/icons/leaf.png') }}" alt="">
            </div>
            <div class="col">
              <h3>Development</h3>

              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row">
            <div class="col">
              <img src="{{ asset('images/icons/leaf.png') }}" alt="">
            </div>
            <div class="col">
              <h3>Consulting</h3>

              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="container">
    <h2 class="fancy-title">Works</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide gallery-item">
          <div class="gallery-item-content">
            <img src="{{ asset('images/') }}" alt="Labore et dolore magnam">
            <a href="#" class="stretched-link"><i class="far fa-eye"></i></a>
            <div>
              <div>Labore et dolore magnam</div>
              <div class="small">Photography</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide gallery-item">
          <div class="gallery-item-content">
            <img src="{{ asset('images/') }}" alt="Labore et dolore magnam">
            <a href="#" class="stretched-link"><i class="far fa-eye"></i></a>
            <div>
              <div>Labore et dolore magnam</div>
              <div class="small">Photography</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide gallery-item">
          <div class="gallery-item-content">
            <img src="{{ asset('images/') }}" alt="Labore et dolore magnam">
            <a href="#" class="stretched-link"><i class="far fa-eye"></i></a>
            <div>
              <div>Labore et dolore magnam</div>
              <div class="small">Photography</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide gallery-item">
          <div class="gallery-item-content">
            <img src="{{ asset('images/') }}" alt="Labore et dolore magnam">
            <a href="#" class="stretched-link"><i class="far fa-eye"></i></a>
            <div>
              <div>Labore et dolore magnam</div>
              <div class="small">Photography</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide gallery-item">
          <div class="gallery-item-content">
            <img src="{{ asset('images/') }}" alt="Labore et dolore magnam">
            <a href="#" class="stretched-link"><i class="far fa-eye"></i></a>
            <div>
              <div>Labore et dolore magnam</div>
              <div class="small">Photography</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide gallery-item">
          <div class="gallery-item-content">
            <img src="{{ asset('images/') }}" alt="Labore et dolore magnam">
            <a href="#" class="stretched-link"><i class="far fa-eye"></i></a>
            <div>
              <div>Labore et dolore magnam</div>
              <div class="small">Photography</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide gallery-item">
          <div class="gallery-item-content">
            <img src="{{ asset('images/') }}" alt="Labore et dolore magnam">
            <a href="#" class="stretched-link"><i class="far fa-eye"></i></a>
            <div>
              <div>Labore et dolore magnam</div>
              <div class="small">Photography</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide gallery-item">
          <div class="gallery-item-content">
            <img src="{{ asset('images/') }}" alt="Labore et dolore magnam">
            <a href="#" class="stretched-link"><i class="far fa-eye"></i></a>
            <div>
              <div>Labore et dolore magnam</div>
              <div class="small">Photography</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="title-fancy">Meet our team</h2>

    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
      inventore
    </p>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="position-relative">
            <img src="" alt="" class="image-bg-cover">
            <div class="slide-hidden-content">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#" target="_blank" rel="noopener" class="team-social-icon">
                    <i class="fab fa-twitter"></i>
                    <span class="sr-only">Twitter</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <h3>John Filmr Doe</h3>
          <h4 class="small">Managing Director</h4>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
