body{margin: 0;}

///////////////////
// Variaveis //////
///////////////////

$highlight: #0eb493;//Base do site
$highlight-2: #32b0ee;//Base do site
$highlight-3: #32b0ee;//Base do site
$highlight-4: #32b0ee;//Base do site

$white:#fff;
$black:#000;
$chumbo: #1D1D1D;
$red: #e74c3c;
$orange: #f39c12;
$yellow:#f1c40f;
$green:#27ae60;
$blue:#101636;
$purple:#8e44ad;

///////////////////
// Custom Code ////
///////////////////

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.logo-font{
  font-family: 'Pacifico', cursive;
  display: inline-flex;
  text-decoration: none;
  padding-top: 10px;
}

*{font-family: 'Open Sans', sans-serif;}

a{  text-decoration: none;}

#slide{
  transition: background-image 0.2s ease-in-out;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  &-01{
    @extend #slide;
    background-image: url('../img/slide-01.png')}
}

header{
  background-color: rgba(16, 22, 54, .2)
}

header nav ul li{
  display: inline-flex;
  padding-top: 35px;
  padding-bottom: 15px;
  text-shadow: 0px 25px 13px rgba(255, 255, 255, 0);
  transition: .3s;
  margin: 0 10px;
}

header nav ul li a{ color: $white;}

header nav ul li:hover{
  text-shadow: 0px 25px 13px rgba(255, 255, 255, 1);
  transition: .3s;
}

header nav ul .active{
  border-top:1px solid $highlight-2;
}


///////////////////
// CSS Funcional //
///////////////////

@for $i from 0 through 10 {
    .mar-t-#{$i*10} { margin-top:$i*10px}
    .mar-b-#{$i*10} { margin-bottom:$i*10px}
    .mar-l-#{$i*10} { margin-left:$i*10px}
    .mar-r-#{$i*10} { margin-right:$i*10px}
    .mar-tb-#{$i*10} { margin-top:$i*10px;margin-bottom:$i*10px;}
    .mar-lr-#{$i*10} { margin-left:$i*10px;margin-right:$i*10px}
    .mar-all-#{$i*10} { margin:$i*10px}
    .pad-t-#{$i*10} { padding-top:$i*10px}
    .pad-b-#{$i*10} { padding-bottom:$i*10px}
    .pad-l-#{$i*10} { padding-left:$i*10px}
    .pad-r-#{$i*10} { padding-right:$i*10px}
    .pad-tb-#{$i*10} { padding-top:$i*10px;padding-bottom:$i*10px;}
    .pad-lr-#{$i*10} { padding-left:$i*10px;padding-right:$i*10px}
    .pad-all-#{$i*10} { padding:$i*10px}
  }

  @for $i from 0 through 10 {
    .o-#{$i*10} {
      opacity:$i* .1;
      transition: .3s;
    }
    .o-#{$i*10}:hover {
      opacity: 1;
      transition: .3s;
    }
  }

  .font{
    &-w{
      &-el{font-weight: 200}//extralight
      &-l{font-weight: 300}//light
      &-r{font-weight: 400}//regular
      &-m{font-weight: 500}//medium
      &-sb{font-weight: 600}//semibold
      &-b{font-weight: 700}//bold
      &-eb{font-weight: 800}//extrabold
    }
    &-s{
      @for $i from 1 through 6 {
        &-#{$i} { font-size:$i+rem}
        &-#{$i}-2 { font-size:$i+.2rem}
        &-#{$i}-5 { font-size:$i+.5rem}
        &-#{$i}-7 { font-size:$i+.7rem}
      }
    }
    &-st{
      &-n{font-style: normal;}
      &-i{font-style: italic;}
      &-u{text-decoration: underline}
      &-u{text-decoration: overline}
      &-upper{text-transform: uppercase}
      &-lower{text-transform: lowercase}
      &-cap{text-transform: capitalize}
    }
    &-c{
      &-h{color:$highlight;}
      &-h2{color:$highlight-2;}
      &-h3{color:$highlight-3;}
      &-h4{color:$highlight-4;}
      &-w{color:$white;}
      &-b{color:$black;}
      &-c{color:$chumbo;}
      &-r{color:$red;}
      &-o{color:$orange;}
      &-y{color:$yellow;}
      &-g{color:$green;}
      &-blue{color:$blue;}
      &-p{color:$purple;}
    }
  }
  .bg{
    &-c{
      &-h{background-color:$highlight;}
      &-h2{background-color:$highlight-2;}
      &-h3{background-color:$highlight-3;}
      &-h4{background-color:$highlight-4;}
      &-w{background-color:$white;}
      &-b{background-color:$black;}
      &-c{background-color:$chumbo;}
      &-r{background-color:$red;}
      &-o{background-color:$orange;}
      &-y{background-color:$yellow;}
      &-g{background-color:$green;}
      &-blue{background-color:$blue;}
      &-p{background-color:$purple;}
    }
  }
  .text{
    &-a{
      &-c{text-align: center;}
      &-l{text-align: left;}
      &-r{text-align: right;}
      &-j{text-align: justify;}
    }
  }