body{margin: 0;}

///////////////////
// Variaveis //////
///////////////////

$highlight: #0eb493;//Base do site
$highlight-2: #32b0ee;//Base do site
$highlight-3: #c6c9ca;//Base do site
$highlight-4: #32b0ee;//Base do site

$white:#fff;
$black:#000;
$chumbo: #1D1D1D;
$red: #e74c3c;
$orange: #f39c12;
$yellow:#f1c40f;
$green:#27ae60;
$blue:#062033;
$purple:#8e44ad;

$xs: '(max-width: 575px)';                              // Extra small(xs) devices (portrait phones, less than 576px)
$sm: '(min-width: 576px) and (max-width: 767px)';       // Small(sm) devices (landscape phones, 576px and up)
$md: '(min-width: 768px) and (max-width: 991px)';       // Medium(md) devices (tablets, 768px and up)
$lg: '(min-width: 992px) and (max-width: 1199px)';      // Large(lg) devices (desktops, 992px and up)
$xl: '(min-width: 1200px)';                             // Extra large(xl) devices (large desktops, 1200px and up)

///////////////////
// Custom Code ////
///////////////////

// Presets--------/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

*{font-family: 'Open Sans', sans-serif;}

a{
  text-decoration: none;
  cursor: pointer;
}

//---------------/

.logo-font{
  font-family: 'Pacifico', cursive;
  display: inline-flex;
  text-decoration: none;
  padding-top: 10px;
}

#slide{
  transition: background-image 0.2s ease-in-out;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  &-01{
    @extend #slide;
    background-image: url('../img/slide-01.png')}
}

header{
  background-color: rgba(16, 22, 54, .2);
  overflow: hidden;

  nav{
    display: inline-flex;

    ul{
      li{
        display: inline-flex;
        padding-top: 35px;
        padding-bottom: 15px;
        text-shadow: 0px 25px 13px rgba(255, 255, 255, 0);
        transition: .3s;
        margin: 0 10px;
  
        a{ color: $white;}
      }
      @media #{$xs} {
        li{
          margin: 0 5px;
        }
      }
      li:hover{
        text-shadow: 0px 25px 13px rgba(255, 255, 255, 1);
        transition: .3s;
      }
      .active{
        border-top:1px solid $highlight-2;
      }
      
      @media #{$xs} {
        .active{
          border-top:0px solid $highlight-2;
          border-bottom:1px solid $highlight-2;
        }
      }
      
      @media #{$sm} {
        .active{
          border-top:0px solid $highlight-2;
          border-bottom:1px solid $highlight-2;
        }
      }

    }
  }
}

.title-slider{
  margin-top: 30%;
}

.slide-controler{
  display: flex;
  position: absolute;
  top:50%;
  right: 1%;
  flex-wrap: wrap;
  width: 30px;

  a{
    display: flex;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 1px solid $white;
    transition: .3s;
    opacity: .4;
    margin: 10px;
  }
  a:hover{
    opacity: 1;
    transition: .3s;
  }
  a.active{
    background-color: $white;
    opacity: 1;
    transition: .3s;
  }
}
.social-buttons{
  display: flex;
  position: absolute;
  bottom:10%;
  left: 50%;
  margin-left: -50px;
  flex-wrap: wrap;
  width: 100px;

  .social{
    opacity: .4;
    transition: .3s;
    color: $white;
    margin: 5px;
  }

  .social:hover{
    opacity: .8;
    transition: .3s;
  }

  .social:active,.social:visited,{
    opacity: 1;
    transition: .3s;
  }
}
.ornament{
  display: inline-flex;
  margin-bottom: 30px;
}
.ornament::before,.ornament::after{
  content: "";
  display: inline-flex;
  background-color: $highlight-3;
  height: 1px;
  width: 70px;
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.slide-item i{
  color: $highlight;
  border-radius: 100%;
  border:1px solid $highlight;
  padding: 10px;
  width: 40px;
  height: 40px;
}

.slide-controler-2{
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 80px;

  a{
    display: inline-flex;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 1px solid $blue;
    transition: .3s;
    opacity: .4;
    margin: 10px;
  }
  a:hover{
    opacity: 1;
    transition: .3s;
  }
  a.active{
    background-color: $blue;
    opacity: 1;
    transition: .3s;
  }
}



///////////////////
// CSS Funcional //
///////////////////

@for $i from 0 through 10 {
    .mar-t-#{$i*10} { margin-top:$i*10px}
    .mar-b-#{$i*10} { margin-bottom:$i*10px}
    .mar-l-#{$i*10} { margin-left:$i*10px}
    .mar-r-#{$i*10} { margin-right:$i*10px}
    .mar-tb-#{$i*10} { margin-top:$i*10px;margin-bottom:$i*10px;}
    .mar-lr-#{$i*10} { margin-left:$i*10px;margin-right:$i*10px}
    .mar-all-#{$i*10} { margin:$i*10px}
    .pad-t-#{$i*10} { padding-top:$i*10px}
    .pad-b-#{$i*10} { padding-bottom:$i*10px}
    .pad-l-#{$i*10} { padding-left:$i*10px}
    .pad-r-#{$i*10} { padding-right:$i*10px}
    .pad-tb-#{$i*10} { padding-top:$i*10px;padding-bottom:$i*10px;}
    .pad-lr-#{$i*10} { padding-left:$i*10px;padding-right:$i*10px}
    .pad-all-#{$i*10} { padding:$i*10px}
  }

  @for $i from 0 through 10 {
    .o-#{$i*10} {
      opacity:$i* .1;
      transition: .3s;
    }
    .o-#{$i*10}:hover {
      opacity: 1;
      transition: .3s;
    }
  }

  .font{
    &-w{
      &-el{font-weight: 200}//extralight
      &-l{font-weight: 300}//light
      &-r{font-weight: 400}//regular
      &-m{font-weight: 500}//medium
      &-sb{font-weight: 600}//semibold
      &-b{font-weight: 700}//bold
      &-eb{font-weight: 800}//extrabold
    }
    &-s{
      @for $i from 1 through 6 {
        &-#{$i} { font-size:$i+rem}
        &-#{$i}-2 { font-size:$i+.2rem}
        &-#{$i}-5 { font-size:$i+.5rem}
        &-#{$i}-7 { font-size:$i+.7rem}
      }
    }
    @media #{$xs} {
      &-s{
        @for $i from 1 through 6 {
          &-#{$i} { font-size:$i*.75 +rem}
          &-#{$i}-2 { font-size:$i+.2 *.75 +rem}
          &-#{$i}-5 { font-size:$i+.5 *.75 +rem}
          &-#{$i}-7 { font-size:$i+.7 *.75 +rem}
        }
      }
    }
    &-st{
      &-n{font-style: normal;}
      &-i{font-style: italic;}
      &-u{text-decoration: underline}
      &-u{text-decoration: overline}
      &-upper{text-transform: uppercase}
      &-lower{text-transform: lowercase}
      &-cap{text-transform: capitalize}
    }
    &-c{
      &-h{color:$highlight;}
      &-h2{color:$highlight-2;}
      &-h3{color:$highlight-3;}
      &-h4{color:$highlight-4;}
      &-w{color:$white;}
      &-b{color:$black;}
      &-c{color:$chumbo;}
      &-r{color:$red;}
      &-o{color:$orange;}
      &-y{color:$yellow;}
      &-g{color:$green;}
      &-blue{color:$blue;}
      &-p{color:$purple;}
    }
  }
  .bg{
    &-c{
      &-h{background-color:$highlight;}
      &-h2{background-color:$highlight-2;}
      &-h3{background-color:$highlight-3;}
      &-h4{background-color:$highlight-4;}
      &-w{background-color:$white;}
      &-b{background-color:$black;}
      &-c{background-color:$chumbo;}
      &-r{background-color:$red;}
      &-o{background-color:$orange;}
      &-y{background-color:$yellow;}
      &-g{background-color:$green;}
      &-blue{background-color:$blue;}
      &-p{background-color:$purple;}
    }
  }
  .text{
    &-a{
      &-c{text-align: center;}
      &-l{text-align: left;}
      &-r{text-align: right;}
      &-j{text-align: justify;}
    }
  }

////////////////////////////
// Alinhamento Responsivo //
////////////////////////////




    .start-xs{
      -ms-flex-pack: start ;
      -webkit-box-pack: start ;
      justify-content: flex-start ;
      text-align: start ;
    }
    .center-xs {
      -ms-flex-pack: center ;
      -webkit-box-pack: center ;
      justify-content: center ;
      text-align: center ;
    }
    .end-xs {
      -ms-flex-pack: end ;
      -webkit-box-pack: end ;
      justify-content: flex-end ;
      text-align: end ;
    }
  
    .top-xs {
      -ms-flex-align: start ;
      -webkit-box-align: start ;
      align-items: flex-start ;
    }
  
    .middle-xs {
      -ms-flex-align: center ;
      -webkit-box-align: center ;
      align-items: center ;
    }
  
    .bottom-xs {
      -ms-flex-align: end ;
      -webkit-box-align: end ;
      align-items: flex-end ;
    }
  
  @media #{$sm} { 
    .start-sm{
      -ms-flex-pack: start !important;
      -webkit-box-pack: start !important;
      justify-content: flex-start !important;
      text-align: start !important;
    }
    .center-sm {
      -ms-flex-pack: center !important;
      -webkit-box-pack: center !important;
      justify-content: center !important;
      text-align: center !important;
    }
    .end-sm {
      -ms-flex-pack: end !important;
      -webkit-box-pack: end !important;
      justify-content: flex-end !important;
      text-align: end !important;
    }
  
    .top-sm {
      -ms-flex-align: start !important;
      -webkit-box-align: start !important;
      align-items: flex-start !important;
    }
  
    .middle-sm {
      -ms-flex-align: center !important;
      -webkit-box-align: center !important;
      align-items: center !important;
    }
  
    .bottom-sm {
      -ms-flex-align: end !important;
      -webkit-box-align: end !important;
      align-items: flex-end !important;
    }
  }
  @media #{$md} { 
    .start-md{
      -ms-flex-pack: start !important;
      -webkit-box-pack: start !important;
      justify-content: flex-start !important;
      text-align: start !important;
    }
    .center-md {
      -ms-flex-pack: center !important;
      -webkit-box-pack: center !important;
      justify-content: center !important;
      text-align: center !important;
    }
    .end-md {
      -ms-flex-pack: end !important;
      -webkit-box-pack: end !important;
      justify-content: flex-end !important;
      text-align: end !important;
    }
  
    .top-md {
      -ms-flex-align: start !important;
      -webkit-box-align: start !important;
      align-items: flex-start !important;
    }
  
    .middle-md {
      -ms-flex-align: center !important;
      -webkit-box-align: center !important;
      align-items: center !important;
    }
  
    .bottom-md {
      -ms-flex-align: end !important;
      -webkit-box-align: end !important;
      align-items: flex-end !important;
    }
  }
  @media #{$lg} { 
    .start-lg{
      -ms-flex-pack: start !important;
      -webkit-box-pack: start !important;
      justify-content: flex-start !important;
      text-align: start !important;
    }
    .center-lg {
      -ms-flex-pack: center !important;
      -webkit-box-pack: center !important;
      justify-content: center !important;
      text-align: center !important;
    }
    .end-lg {
      -ms-flex-pack: end !important;
      -webkit-box-pack: end !important;
      justify-content: flex-end !important;
      text-align: end !important;
    }
  
    .top-lg {
      -ms-flex-align: start !important;
      -webkit-box-align: start !important;
      align-items: flex-start !important;
    }
  
    .middle-lg {
      -ms-flex-align: center !important;
      -webkit-box-align: center !important;
      align-items: center !important;
    }
  
    .bottom-lg {
      -ms-flex-align: end !important;
      -webkit-box-align: end !important;
      align-items: flex-end !important;
    }
  }
  @media #{$xl} { 
    .start-xl{
      -ms-flex-pack: start !important;
      -webkit-box-pack: start !important;
      justify-content: flex-start !important;
      text-align: start !important;
    }
    .center-xl {
      -ms-flex-pack: center !important;
      -webkit-box-pack: center !important;
      justify-content: center !important;
      text-align: center !important;
    }
    .end-xl {
      -ms-flex-pack: end !important;
      -webkit-box-pack: end !important;
      justify-content: flex-end !important;
      text-align: end !important;
    }
  
    .top-xl {
      -ms-flex-align: start !important;
      -webkit-box-align: start !important;
      align-items: flex-start !important;
    }
  
    .middle-xl {
      -ms-flex-align: center !important;
      -webkit-box-align: center !important;
      align-items: center !important;
    }
  
    .bottom-xl {
      -ms-flex-align: end !important;
      -webkit-box-align: end !important;
      align-items: flex-end !important;
    }
  }
