footer.container-fluid.bg-c-h
            .row
                .container
                    .row
                        .col-xs-12.col-lg-3.center-xs.start-xl
                            h1.logo-font.font-c-w.font-w-r.font-s-2.mar-t-0.mar-b-40 Brandi
                            p.font-c-w.mar-t-0 eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .col-xs-12.col-lg-3.center-xs.start-xl
                            h2.font-c-w.font-s-1-2.o-80.mar-t-30.mar-b-40 Subscribe
                            form(action="", method="post")
                                label(for="subscribe")
                                    i.fa.fa-arrow-right(aria-hidden='true')
                                input(type="email", name="subscribe")
                            p.font-c-w eusmod tempor incididunt ut labore et dolore magna aliqua. 
                        .col-xs-12.col-lg-3.center-xs.start-xl
                            h2.font-c-w.font-s-1-2.o-80.mar-t-30.mar-b-40 Explore
                            .row
                                .col-6.center-xs.start-xl
                                    a.links(href="") Envato
                                    a.links(href="") Themecurve
                                    a.links(href="") Kreativeshowcase
                                    a.links(href="") Freebiescurve
                                .col-6.center-xs.start-xl
                                    a.links(href="") Themeforest
                                    a.links(href="") Microsoft
                                    a.links(href="") Google
                                    a.links(href="") Yahoo
                        .col-xs-12.col-lg-3.center-xs.start-xl
                            p.font-c-w
                                | Created with 
                                i.fa.fa-heart-o.font-c-blue.font-w-b.o-30(aria-hidden='true') 
                                |  by 
                                a.font-c-blue(href='') themecurve 
                                | ,exclusive for kreativeshowcase 
                            p.font-c-blue.mar-t-100 © 2014 Brandi. All Rights Reserved.
script(src='js/filter.js')
script(src='js/slider.js')
script(src='js/rollernumber.js')
script(src='js/bg-slider.js')