head
    title Projeto de Teste da Superare
    meta(name='description', content='Projeto criado por Kaue Prata')
    //- link(href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-grid.min.css', rel='stylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css')


