header.row
            .container.pad-lr-0
                .row.mar-lr-0
                    .col-xl-6.start-xl.col-lg-6.start-lg.col-md-5.center-md.col-sm-12.center-sm.center-xs
                        a.logo-font.font-c-w.font-w-r.font-s-2.mar-tb-0(href='#') Brandi
                        span.font-c-h2.font-w-l.font-s-1.mar-lr-20 |
                        span.font-c-w.o-30.font-w-l.font-s-1 I’am your tag line
                    .col-xl-6.end-xl.col-lg-6.end-lg.col-md-7.center-md.col-sm-12.center-sm.center-xs
                        nav.text-a-r
                            ul.mar-tb-0.font-w-r.font-s-1.pad-l-0
                                li.active 
                                    a(href='#') Home
                                li
                                    a(href='#') Features
                                li
                                    a(href='#') Works
                                li
                                    a(href='#') Team
                                li
                                    a(href='#') Contact