.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    > .logo { max-width: 140px; }
}

@media only screen and (max-width: 47.99em) {
    .main-navbar > .social-icons,
    .main-navbar > .main-menu { display: none; }
}