.main-menu {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    > .item { list-style: none; }

    > .item > .link {
        color: #fff;
        font-size: .85rem;
        transition: opacity .2s ease;

        &:hover { opacity: .6; }
    }

    &.-grey {
        > .item > .link {
            color: #fff;
            opacity: .6;

            &:hover { opacity: 1; }
        }
    }
}

@media only screen and (min-width: 48em) {
    .main-menu {
        flex-grow: 1;
        padding-right: 6vw;
        padding-left: 6vw;
    }
}