<!DOCTYPE html>
<html lang="pt-br">

  {% include "templates/includes/head.njk" %}

  <body
    class="{% block bodyClass %}{% endblock %}"
    data-spy="scroll"
    data-target="#navbar-supported-content"
    data-offset="0">
    <main>
      <header>
        <!-- Navigation -->
        {% include "templates/includes/nav.njk" %}
        {% block header %}{% endblock %}
      </header>

      {% block content %}{% endblock %}

      <!-- Footer -->
      {% include "templates/includes/footer.njk" %}
    </main>

    {% block beforeScripts %}{% endblock %}
    <script src="{{ asset('js/main.js') }}"></script>
    {% block afterScripts %}{% endblock %}
  </body>
</html>
