@keyframes bounceDown {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-.8rem); }
    60% { transform: translateY(-.4rem); }
}

// Mobile menu animation
@keyframes slideRight {
    0% { transform: translate3d(-1.4rem, 0, 0); }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}