html { box-sizing: border-box; }

*,
*::before,
*::after { box-sizing: inherit; }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    position: relative;
}

figure { margin: 0; }

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a { text-decoration: none; }
