body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    position: relative;
}

figure { margin: 0; }

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a { text-decoration: none; }
