// General colors
$color-blue: #648cff;
$color-blue-dark: #4466c9;
$color-orange: #fc6a42;
$color-yellow: #fcec64;
$color-link-hover: #3c5fc5;

// Hamburger button dimensions
$hamburger-width: 32px;
$hamburger-height: 18px;

// Smartphone mockup dimensions
// $phone-width: 33vh;
$phone-width: 13rem;