// General colors
$color-blue: #648cff;
$color-blue-dark: #4466c9;
$color-orange: #fc6a42;
$color-yellow: #fcec64;

// Dimensions of the hamburger button
$hamburger-width: 32px;
$hamburger-height: 18px;